@import './../settings/mixins.settings.scss';
@import './../settings/variables.settings.scss';

.post {
  margin-bottom: px-to-rem(100);

  &__head {
    padding: px-to-rem(80) px-to-rem(100);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: px-to-rem(650);
    border-bottom-left-radius: px-to-rem(35);
    border-bottom-right-radius: px-to-rem(35);
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: #{map-get($responsive, 'mobile-large')}) {
      padding: px-to-rem(25);
    }

    &__title {
      margin-top: 0px;
      margin-bottom: px-to-rem(50);
      font-size: px-to-rem(46);
      color: map-get($colors, 'background');
    }

    .post-social {
      padding-bottom: px-to-rem(20);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: px-to-rem(55);
      border-bottom: 2px solid map-get($colors, 'background');

      &__wrapper {
        padding: px-to-rem(8) px-to-rem(12);
        display: flex;
        align-items: flex-end;
        background: map-get($colors, 'secondary');
        border-radius: px-to-rem(20);

        &:first-of-type {
          align-items: center;
        }
      }

      &__author-image {
        margin-right: px-to-rem(10);
        width: px-to-rem(55);
        height: px-to-rem(55);
        border-radius: px-to-rem(20);
      }

      &__author-name {
        font-size: px-to-rem(14);
        font-weight: 600;
        color: map-get($colors, 'primary-light');
      }

      &__updated_at {
        font-size: px-to-rem(12);
        color: map-get($colors, 'background');
      }

      &__post-info {
        margin-right: px-to-rem(60);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
      }

      &__social-link {
        margin-right: px-to-rem(10);

        svg {
          width: px-to-rem(25);
          height: px-to-rem(25);

          path {
            transition: stroke 250ms;
            stroke: map-get($colors, 'background');
          }
        }

        &:hover svg path {
          stroke: map-get($colors, 'tertiary-dark');
        }
      }
    }
  }

  &__wrapper {
    margin-top: px-to-rem(60);
    display: grid;
    grid-template-columns: calc(75% - #{px-to-rem(60)}) 25%;
    gap: px-to-rem(60);

    @media only screen and (max-width: #{map-get($responsive, 'mobile-large')}) {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    border-bottom: thin solid map-get($colors, 'secondary');

    img {
      margin: px-to-rem(25) 0px;
      max-width: 100%;
      border-radius: px-to-rem(25);
      object-fit: cover;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;

    &__title {
      margin: 0px;
      padding-bottom: px-to-rem(12);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: thin solid map-get($colors, 'tertiary-dark');
    }
  }

  .post {
    margin-bottom: px-to-rem(30);
    padding-top: px-to-rem(35);
    padding-bottom: px-to-rem(26);
    padding-left: px-to-rem(35);
    padding-right: px-to-rem(35);
    left: 50%;
    z-index: 10;
    background-color: map-get($colors, 'background');
    border: thin solid map-get($colors, 'tertiary-dark');
    border-radius: px-to-rem(20);

    &__title {
      @include link(map-get($colors, 'primary-light'));
      font-size: px-to-rem(24);
      font-weight: 600;
    }

    &__footer {
      margin-top: px-to-rem(35);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: px-to-rem(55);

      &__wrapper {
        display: flex;
        align-items: flex-end;

        &:first-of-type {
          align-items: center;
        }
      }

      &__author-image {
        margin-right: px-to-rem(10);
        width: px-to-rem(55);
        height: px-to-rem(55);
      }

      &__author-name {
        font-size: px-to-rem(14);
        font-weight: 600;
        color: map-get($colors, 'primary-light');
      }

      &__updated_at {
        font-size: px-to-rem(12);
        color: map-get($colors, 'tertiary-dark');
      }

      &__post-info {
        margin-right: px-to-rem(60);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
      }

      &__social-link {
        margin-right: px-to-rem(10);

        svg {
          width: px-to-rem(25);
          height: px-to-rem(25);

          path {
            transition: stroke 250ms;
          }
        }

        &:hover svg path {
          stroke: map-get($colors, 'tertiary-dark');
        }
      }
    }
  }

  &-loading {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    background-color: rgba($color: map-get($colors, 'primary'), $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: px-to-rem(28);
    font-weight: 600;
    color: map-get($colors, 'secondary');
    pointer-events: none;
  }
}

.comments {
  max-width: 80%;

  &__title {
    margin-top: px-to-rem(40);
    margin-bottom: px-to-rem(40);
    font-size: px-to-rem(32);
    color: map-get($colors, 'secondary');
  }

  &__description {
    margin-top: px-to-rem(0);
    margin-bottom: px-to-rem(40);
    font-size: px-to-rem(15);
    color: map-get($colors, 'tertiary');
  }

  &__form-wrapper {
    margin-bottom: px-to-rem(30);
    display: flex;
    gap: px-to-rem(30);
  }

  &__input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-label {
      margin-bottom: px-to-rem(7.5);
      font-size: px-to-rem(16);
      color: map-get($colors, 'primary');
    }

    &-error {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: px-to-rem(12);
      color: map-get($colors, 'primary');
      transform: translateY(120%);
    }

    input, textarea {
      padding: px-to-rem(15);
      border-radius: px-to-rem(10);
      border: thin solid map-get($colors, 'primary');
    }

    textarea {
      resize: none;
    }
  }

  &__submit {
    @include button(map-get($colors, 'primary'));
    margin-top: px-to-rem(15);
    padding: px-to-rem(15);
    font-size: px-to-rem(16);
    background-color: map-get($colors, 'background');
    border-radius: px-to-rem(25);
    border: 2px solid map-get($colors, 'primary');
  }
}

.comment {
  padding-bottom: px-to-rem(15);
  margin-bottom: px-to-rem(25);
  display: flex;
  flex-direction: column;
  border-bottom: thin solid map-get($colors, 'secondary');

  &__author-name {
    margin-bottom: px-to-rem(5);
    font-size: px-to-rem(15);
    color: map-get($colors, 'primary');
    font-weight: 600;
  }

  &__created-at {
    margin-bottom: px-to-rem(15);
    font-size: px-to-rem(14);
    color: map-get($colors, 'tertiary');
    font-weight: 600;
  }

  &__content {
    margin: 0px;
    font-size: px-to-rem(14);
    color: map-get($colors, 'primary');
    font-weight: 500;
    text-align: justify;
  }
}